# Chemin vers la base MMseqs déjà créée
MMSEQS_DB=databases/VIREDB
MMSEQS_DB_DIR=databases

# Optionnel: binaire mmseqs si non présent dans le PATH
MMSEQS_BIN=/home/formation/miniconda3/bin/mmseqs

# Optionnel: nombre de threads pour mmseqs
MMSEQS_THREADS=8

# Optionnel: arguments supplémentaires mmseqs
MMSEQS_EXTRA_ARGS=

# Optionnel: binaire prodigal-gv pour traduire les fichiers nucleotidiques
PRODIGAL_GV_BIN=prodigal-gv
PRODIGAL_GV_MODE=meta
PRODIGAL_GV_EXTRA_ARGS=

# Script de post-traitement VIRE MMseqs
VIRE_POSTPROCESS_SCRIPT=scripts/add_metadata/add_metadata_mmseqs2.py

# Metadata genome_id -> biosample_name + coordonnees
VIRE_METADATA_FILE=metadata/vire_with_coordinates.parquet


# Script de post-traitement MetaVR MMseqs 
METAVR_POSTPROCESS_SCRIPT=scripts/add_metadata/add_metadata_metavr_mmseqs2.py

# Metadata MetaVR -> taxonomy + coordonnees
METAVR_METADATA_FILE=metadata/metavr_with_coordinates.parquet
METAVR_TAXONOMY_FILE=metadata/IMGVR5_UVIG.tsv

# Optionnel
PORT=8000
